<div class=row>
  <div class="col-lg-6">
    <img src="assets/images/logo.png" alt="logo" width="100" height="80"></div>
  <div class="col-lg-6">
    <div class="menu-pannel">
      <a class="link-to-page" routerLink="/signup" routerLinkActive="active">SIGNUP</a>
      <a class="link-to-page" routerLink="/login" routerLinkActive="active">LOGIN</a>
      <a class="link-to-page" routerLink="/home" routerLinkActive="active">HOME</a>
      <a class="link-to-page" routerLink="/add-article" routerLinkActive="active">ADD ARTICLE</a>
      <a (click)="logoutUser()" class="link-to-page" routerLink="/login" routerLinkActive="active">LOGOUT</a>

    </div>
  </div>
</div>